{% extends 'layout.html' %}

{% block content %}

    <h1>Zaloguj się</h1>

    <form  method="post" action="/login">
        <div>
        <label for="">Adres e mail</label>
        <input name="email" type="text"  placeholder="Wpisz swój adres email">
    
        </div>
        <div>
            <label for="">Hasło</label>
            <input type="password" name="password" placeholder="Podaj hasło">
        </div>


        <button type="submit">Logowanie</button>


    </form>
 
{% endblock %}